* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.label-mesa {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.submit {
  margin-top: 10rem;
  margin-bottom: 2rem;
  text-align: center;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}

.deletarMesa {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.deletarPrato {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.flexbtn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
